<div class="yui-g">
	<div class="dashbox" style="height:100%">
		<p class="title">
			<%= message('widget.invalidversionjars.title') -%>
		</p>
		<% if measure('html_invalidversionjars') && measure('invalidversionjars') && measure('totaljars') %>
			<p>
				<span class="big"> <%= format_measure('invalidversionjars') -%> <%= tendency_icon(measure('invalidversionjars')) -%></span> /<%= format_measure('totaljars') -%>
			</p>
			<script type="text/javascript">
				function fillsInvalidVersionJars() {
					<% if (measure('invalidversionjars').value.to_i > 0) %>
						document.getElementById('invalidVersionJarsIframe').contentDocument.body.innerHTML = '<%= measure('html_invalidversionjars').data -%>';
					<% end %>
				}
	
				Event.observe(window, 'load', function() {
					fillsInvalidVersionJars();
				});
			</script>
		<% else %>
			<br />
			<p>
				<%= message('widget.sonar-tattletale-plugin.error') -%>
			</p>
		<% end %>
	</div>
</div>
<% if measure('html_invalidversionjars') && measure('invalidversionjars') && measure('totaljars') %>
	<% if (measure('invalidversionjars').value.to_i > 0) %>
		<iframe id="invalidVersionJarsIframe" width="100%" style="border: 0"></iframe>
	<% end %>
<% end %> 