<div class="yui-g">
	<div class="dashbox" style="height:100%">
		<p class="title">
			<%= message('widget.circulardependencies.title') -%>
		</p>
		<% if measure('html_circulardependencies') && measure('circulardependencies') && measure('totaljars') %>
			<p>
				<span class="big"> <%= format_measure('circulardependencies') -%> <%= tendency_icon(measure('circulardependencies')) -%></span> /<%= format_measure('totaljars') -%>
			</p>
			<script type="text/javascript">
				function fillsCircularDependencies() {
					<% if (measure('circulardependencies').value.to_i > 0) %>
						document.getElementById('circularDependenciesIframe').contentDocument.body.innerHTML = '<%= measure('html_circulardependencies').data -%>';
					<% end %>
				}
	
				Event.observe(window, 'load', function() {
					fillsCircularDependencies();
				});
			</script>
		<% else %>
			<br />
			<p>
				<%= message('widget.sonar-tattletale-plugin.error') -%>
			</p>
		<% end %>
	</div>
</div>
<% if measure('html_circulardependencies') && measure('circulardependencies') && measure('totaljars') %>
	<% if (measure('circulardependencies').value.to_i > 0) %>
		<iframe id="circularDependenciesIframe" width="100%" style="border: 0"></iframe>
	<% end %>
<% end %> 