<% if measure('html_repeatedclasses') && measure('repeatedclasses') && measure('totaljars') %>
<div class="yui-g">
  <div class="dashbox" style="width: 100%">
    <p class="title">
      <%= message('widget.repeatedclasses.title') -%>
    </p>
    <p>
      <span class="big"> <%= format_measure('repeatedclasses') -%> <%= tendency_icon(measure('repeatedclasses')) -%></span> /<%= format_measure('totaljars') -%>
    </p>
    <% if (measure('repeatedclasses').value.to_i > 0) %>
      <link rel="stylesheet" type="text/css" href="<%= url_for_static(:plugin => 'sonarTattletalePlugin', :path => 'tattletale-style.css') -%>" />
      <div style="width: 100%; padding-top: 15px; overflow-y: scroll; height: 150px">
        <%= measure('html_repeatedclasses').data -%>
      </div>
    <% end %>
  </div>
</div>
<% end %>